@model IEnumerable<DAL.Entities.Product>

@{
    ViewData["Title"] = "AdminIndex";
}

<h1>AdminIndex</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductInHand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceUpdatedAt)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInHand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceUpdatedAt)
            </td>
        </tr>
}
    </tbody>
</table>
